{{ template "header" }}

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="inner cover">
            <center>
                <br>
                <br>
            <h1 class="cover-heading">Blogging Site</h1>
                <br>
                <br>
                <br>
            <p class="lead">This site is a blogging platform for people who want to share their stories and their ideas with everyone.</p>
            </center>
              <p class="lead">
              <a href="/signup" class="btn btn-lg btn-success">Get Started</a>
            </p>
          </div>

          <div class="mastfoot">
            <div class="inner">
                <br>
                <br>
                <br>
                <br>
                <br>
              <p>Site created by Harsh Chauhan</p>
            </div>
          </div>

        </div>

      </div>

    </div>

{{ template "footer" }}

<style>
  html {
    background-image: url("http://orig09.deviantart.net/35fc/f/2008/343/a/c/walpaper_1_by_sarigalae.png");
  } 
  body {
    background: none;
    color: white;
  }
</style>